.white_blue {
  background-image: linear-gradient(#f7d205, #fcee08); }

.red {
  background-image: linear-gradient(#56aa43, #80a225); }

.only_blue {
  background-image: linear-gradient(#56aa43, #80a225); }

.sepia {
  background-image: linear-gradient(#8eafe9, #eff4fc); }

.white {
  color: white; }

.black {
  color: black; }
