.white_blue {
  background-image: linear-gradient(#56aa43, #80a225); }

.red {
  background-image: linear-gradient(#f04545, #c22f32); }

.only_blue {
  background-image: linear-gradient(#80a225, #80a225); }

.white {
  color: white; }

.black {
  color: black; }
